<div class="footer">   
    <div class="row">
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/alif-lakipadada-038ba7215/"><i class="icon iconify" data-icon="ion-social-linkedin" style="width: 20px;height: 20px;"> </i></a>
            <a href="https://www.instagram.com/aliflkpd/"><i class="icon iconify" data-icon="ion-social-instagram" style="width: 20px;height: 20px;"></i></a>
            <a href="https://dribbble.com/aliflkpd/"><i class="icon iconify" data-icon="ion-social-dribbble" style="width: 20px;height: 20px;"></i></a>
            <a href="https://github.com/aliflkpd/"><i class="icon iconify" data-icon="ion-social-github" style="width: 20px;height: 20px;"></i></a>
        </div>
            <p class="copyright">All Rights Reserved</p>
    </div>
</div>
    

  