<div class="sidebar">
    <ul class="nav">
      <li><div class="box">
        <i class='bx bxs-dashboard'></i>
        <span>DASHBOARD</span></div>
      </li>
        <li [routerLink]="'post'">
          <div class="penyatu">
            <i class='bx bx-image' ></i>
            <span>Post</span>
          </div>
        </li>
        <li [routerLink]="'profile'">
          <div class="penyatu">
            <i class='bx bxs-user-account' ></i>
            <span>Profile</span>
          </div>
        </li>
        <li [routerLink]="'setting'">
          <div class="penyatu">
            <i class='bx bxs-cog' ></i>
            <span>Setting</span>
          </div>
        </li>
    </ul>
      
    </div>